/*#region vh*/
.h25vh {
  height: 25vh;
}

.h50vh {
  height: 50vh;
}

.h75vh {
  height: 75vh;
}

.h100vh {
  height: 100vh;
}
@media (min-width: $md) {
  .md-h25vh {
    height: 25vh;
  }
  .md-h50vh {
    height: 50vh;
  }
  .md-h75vh {
    height: 75vh;
  }
  .md-h100vh {
    height: 100vh;
  }
}
@media (min-width: $lg) {
  .lg-h25vh {
    height: 25vh;
  }

  .lg-h50vh {
    height: 50vh;
  }

  .lg-h75vh {
    height: 75vh;
  }

  .lg-h100vh {
    height: 100vh;
  }
}
/*#endregion*/

/*#region pct*/
.h25pct {
  height: 25%;
}

.h50pct {
  height: 50%;
}

.h75pct {
  height: 75%;
}

.h100pct {
  height: 100%;
}
@media (min-width: $md) {
  .md-h25pct {
    height: 25%;
  }
  .md-h50pct {
    height: 50%;
  }
  .md-h75pct {
    height: 75%;
  }
  .md-h100pct {
    height: 100%;
  }
}
@media (min-width: $lg) {
  .lg-h25pct {
    height: 25%;
  }

  .lg-h50pct {
    height: 50%;
  }

  .lg-h75pct {
    height: 75%;
  }

  .lg-h100pct {
    height: 100%;
  }
}
/*#endregion*/

.h100px {
  height: 100px;
}
.h200px {
  height: 200px;
}
