/*#region Margin Top PX*/

.mTop10px {
  margin-top: 10px;
}
.mTop20px {
  margin-top: 20px;
}
.mTop30px {
  margin-top: 30px;
}
.mTop40px {
  margin-top: 40px;
}
.mTop50px {
  margin-top: 50px;
}
.mTop60px {
  margin-top: 60px;
}
.mTop70px {
  margin-top: 70px;
}
.mTop80px {
  margin-top: 80px;
}
.mTop90px {
  margin-top: 90px;
}
.mTop100px {
  margin-top: 100px;
}

@media (min-width: $md) {
  .md-mTop10px {
    margin-top: 10px;
  }
  .md-mTop20px {
    margin-top: 20px;
  }
  .md-mTop30px {
    margin-top: 30px;
  }
  .md-mTop40px {
    margin-top: 40px;
  }
  .md-mTop50px {
    margin-top: 50px;
  }
  .md-mTop60px {
    margin-top: 60px;
  }
  .md-mTop70px {
    margin-top: 70px;
  }
  .md-mTop80px {
    margin-top: 80px;
  }
  .md-mTop90px {
    margin-top: 90px;
  }
  .md-mTop100px {
    margin-top: 100px;
  }
}

@media (min-width: $lg) {
  lg-mTop10px {
    margin-top: 10px;
  }
  lg-mTop20px {
    margin-top: 20px;
  }
  lg-mTop30px {
    margin-top: 30px;
  }
  lg-mTop40px {
    margin-top: 40px;
  }
  lg-mTop50px {
    margin-top: 50px;
  }
  lg-mTop60px {
    margin-top: 60px;
  }
  lg-mTop70px {
    margin-top: 70px;
  }
  lg-mTop80px {
    margin-top: 80px;
  }
  lg-mTop90px {
    margin-top: 90px;
  }
  lg-mTop100px {
    margin-top: 100px;
  }
}
/*#endregion Margin Top*/

/*#region Margin Bottom PX*/

.mBottomNone {
  margin-bottom: 0;
}
.mBottom10px {
  margin-bottom: 10px;
}
.mBottom20px {
  margin-bottom: 20px;
}
.mBottom30px {
  margin-bottom: 30px;
}
.mBottom40px {
  margin-bottom: 40px;
}
.mBottom50px {
  margin-bottom: 50px;
}
.mBottom60px {
  margin-bottom: 60px;
}
.mBottom70px {
  margin-bottom: 70px;
}
.mBottom80px {
  margin-bottom: 80px;
}
.mBottom90px {
  margin-bottom: 90px;
}
.mBottom100px {
  margin-bottom: 100px;
}

@media (min-width: $md) {
  .md-mBottomNone {
    margin-bottom: 0;
  }
  .md-mBottom10px {
    margin-bottom: 10px;
  }
  .md-mBottom20px {
    margin-bottom: 20px;
  }
  .md-mBottom30px {
    margin-bottom: 30px;
  }
  .md-mBottom40px {
    margin-bottom: 40px;
  }
  .md-mBottom50px {
    margin-bottom: 50px;
  }
  .md-mBottom60px {
    margin-bottom: 60px;
  }
  .md-mBottom70px {
    margin-bottom: 70px;
  }
  .md-mBottom80px {
    margin-bottom: 80px;
  }
  .md-mBottom90px {
    margin-bottom: 90px;
  }
  .md-mBottom100px {
    margin-bottom: 100px;
  }
}

@media (min-width: $lg) {
  .lg-mBottomNone {
    margin-bottom: 0;
  }
  .lg-mBottom10px {
    margin-bottom: 10px;
  }
  .lg-mBottom20px {
    margin-bottom: 20px;
  }
  .lg-mBottom30px {
    margin-bottom: 30px;
  }
  .lg-mBottom40px {
    margin-bottom: 40px;
  }
  .lg-mBottom50px {
    margin-bottom: 50px;
  }
  .lg-mBottom60px {
    margin-bottom: 60px;
  }
  .lg-mBottom70px {
    margin-bottom: 70px;
  }
  .lg-mBottom80px {
    margin-bottom: 80px;
  }
  .lg-mBottom90px {
    margin-bottom: 90px;
  }
  .lg-mBottom100px {
    margin-bottom: 100px;
  }
}
/*#endregion Margin Top*/

/*#region Margin Left %*/

.mL5pct {
  margin-left: 5%;
}
.mL10pct {
  margin-left: 10%;
}
.mL15pct {
  margin-left: 15%;
}
.mL20pct {
  margin-left: 20%;
}
.mL25pct {
  margin-left: 25%;
}
.mL50pct {
  margin-left: 50%;
}
.mL75pct {
  margin-left: 75%;
}
@media (min-width: $md) {
  .md-mL5pct {
    margin-left: 5%;
  }
  .md-mL10pct {
    margin-left: 10%;
  }
  .md-mL15pct {
    margin-left: 15%;
  }
  .md-mL20pct {
    margin-left: 20%;
  }
  .md-mL25pct {
    margin-left: 25%;
  }
  .md-mL50pct {
    margin-left: 50%;
  }
  .md-mL75pct {
    margin-left: 50%;
  }
}
@media (min-width: $lg) {
  .lg-mL5pct {
    margin-left: 5%;
  }
  .lg-mL10pct {
    margin-left: 10%;
  }
  .lg-mL15pct {
    margin-left: 15%;
  }
  .lg-mL20pct {
    margin-left: 20%;
  }
  .lg-mL25pct {
    margin-left: 25%;
  }
  .lg-mL50pct {
    margin-left: 50%;
  }
  .lg-mL75pct {
    margin-left: 75%;
  }
}
/*#endregion Margin Left Right*/

/*#region Margin Right %*/

.mR5pct {
  margin-right: 5%;
}
.mR10pct {
  margin-right: 10%;
}
.mR15pct {
  margin-right: 15%;
}
.mR20pct {
  margin-right: 20%;
}
.mR25pct {
  margin-right: 25%;
}
.mR50pct {
  margin-right: 50%;
}
.mR65pct {
  margin-right: 65%;
}
.mR75pct {
  margin-right: 75%;
}
@media (min-width: $md) {
  .md-mR5pct {
    margin-right: 5%;
  }
  .md-mR10pct {
    margin-right: 10%;
  }
  .md-mR15pct {
    margin-right: 15%;
  }
  .md-mR20pct {
    margin-right: 20%;
  }
  .md-mR25pct {
    margin-right: 25%;
  }
  .md-mR50pct {
    margin-right: 50%;
  }
  .md-mR65pct {
    margin-right: 65%;
  }
  .md-mR75pct {
    margin-right: 50%;
  }
}
@media (min-width: $lg) {
  .lg-mR5pct {
    margin-right: 5%;
  }
  .lg-mR10pct {
    margin-right: 10%;
  }
  .lg-mR15pct {
    margin-right: 15%;
  }
  .lg-mR20pct {
    margin-right: 20%;
  }
  .lg-mR25pct {
    margin-right: 25%;
  }
  .lg-mR50pct {
    margin-right: 50%;
  }
  .lg-mR65pct {
    margin-right: 65%;
  }
  .lg-mR75pct {
    margin-right: 75%;
  }
}
/*#endregion Margin Left Right*/

/*#region Margin Left Right %*/

.mLR5pct {
  margin-left: 5%;
  margin-right: 5%;
}
.mLR10pct {
  margin-left: 10%;
  margin-right: 10%;
}
.mLR15pct {
  margin-left: 15%;
  margin-right: 15%;
}
.mLR20pct {
  margin-left: 20%;
  margin-right: 20%;
}
.mLR25pct {
  margin-left: 25%;
  margin-right: 25%;
}
@media (min-width: $md) {
  .md-mLR5pct {
    margin-left: 5%;
    margin-right: 5%;
  }
  .md-mLR10pct {
    margin-left: 10%;
    margin-right: 10%;
  }
  .md-mLR15pct {
    margin-left: 15%;
    margin-right: 15%;
  }
  .md-mLR20pct {
    margin-left: 20%;
    margin-right: 20%;
  }
  .md-mLR25pct {
    margin-left: 25%;
    margin-right: 25%;
  }
}
@media (min-width: $lg) {
  .lg-mLR5pct {
    margin-left: 5%;
    margin-right: 5%;
  }
  .lg-mLR10pct {
    margin-left: 10%;
    margin-right: 10%;
  }
  .lg-mLR15pct {
    margin-left: 15%;
    margin-right: 15%;
  }
  .lg-mLR20pct {
    margin-left: 20%;
    margin-right: 20%;
  }
  .lg-mLR25pct {
    margin-left: 25%;
    margin-right: 25%;
  }
}
/*#endregion Margin Left Right*/
