.w70 {
  width: 70%;
}
.w90 {
  width: 90%;
}

.w5pct {
  width: 5%;
}
.w10pct {
  width: 10%;
}
.w20pct {
  width: 20%;
}
.w30pct {
  width: 30%;
}
.w35pct {
  width: 35%;
}
.w40pct {
  width: 40%;
}
.w50pct {
  width: 50%;
}
.w60pct {
  width: 60%;
}
.w70pct {
  width: 70%;
}
.w75pct {
  width: 75%;
}
.w80pct {
  width: 80%;
}
.w90pct {
  width: 90%;
}
.w100pct {
  width: 100%;
}

@media (min-width: $md) {
  .md-w5pct {
    width: 5%;
  }
  .md-w10pct {
    width: 10%;
  }
  .md-w20pct {
    width: 20%;
  }
  .md-w30pct {
    width: 30%;
  }
  .md-w35pct {
    width: 35%;
  }
  .md-w40pct {
    width: 40%;
  }
  .md-w50pct {
    width: 50%;
  }
  .md-w60pct {
    width: 60%;
  }
  .md-w70pct {
    width: 70%;
  }
  .md-w75pct {
    width: 75%;
  }
  .md-w80pct {
    width: 80%;
  }
  .md-w90pct {
    width: 90%;
  }
  .md-w100pct {
    width: 90%;
  }
}

@media (min-width: $lg) {
  .lg-w5pct {
    width: 5%;
  }
  .lg-w10pct {
    width: 10%;
  }
  .lg-w20pct {
    width: 20%;
  }
  .lg-w30pct {
    width: 30%;
  }
  .lg-w35pct {
    width: 35%;
  }
  .lg-w40pct {
    width: 40%;
  }
  .lg-w50pct {
    width: 50%;
  }
  .lg-w60pct {
    width: 60%;
  }
  .lg-w70pct {
    width: 70%;
  }
  .lg-w75pct {
    width: 75%;
  }
  .lg-w80pct {
    width: 80%;
  }
  .lg-w90pct {
    width: 90%;
  }
  .lg-w100pct {
    width: 90%;
  }
}
